@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base {
  #app {
    font-family: "Montserrat", sans-serif;
  }
}

:root {
  --el-color-primary: #1c398e !important;
  --el-color-secondary: #212121 !important;
  --el-color-tertiary: #FFFFFF !important;
}